* {
    margin: 0;
    padding: 0;
    font-family: Counter-Strike;
}

@font-face {
    font-family: Counter-Strike;
    src: url(Fonts/Counter-Strike/cs_bold.ttf);
}

main{
    background: url('Images/background.jpg') no-repeat center center;
    background-size: cover;
    height: 92vh;
}

a {
    color: #ffff;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.carousel{
    top: 30px;
    width: 30vw;
    height: 80vh;
    position: relative;
    margin: 0 auto;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.image{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.image > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    background: none;
    z-index: 2;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    display: flex;
}

.carousel-button:hover{
    background-color: rgba(0, 0, 0, .3);
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}

.carousel-button.next > img{
    transform: rotate(180deg);
}
