* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Counter-Strike;
    src: url(Fonts/Counter-Strike/cs_bold.ttf);
}

@font-face {
    font-family: Exo_2_Medium;
    src: url(Fonts/Exo_2/static/Exo2-Medium.ttf);
}

main{
    background: url('Images/background.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

main::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

main > *{
    position: relative;
    z-index: 1;
}

h1, h2{
    font-family: Counter-Strike;
}

a {
    color: #ffff;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
    font-family: Counter-Strike;
    position: relative;
    z-index: 2;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* ----------------------------------------------HOME PAGE---------------------------------------------- */

.carousel{
    top: 30px;
    width: 50vw;
    height: 30vh;
    position: relative;
    margin: 0 auto;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.image{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.image > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    background: none;
    z-index: 2;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    display: flex;
}

.carousel-button:hover{
    background-color: rgba(0, 0, 0, .3);
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}

.carousel-button.next > img{
    transform: rotate(180deg);
}

/* ----------------------------------------------MATCHES PAGE---------------------------------------------- */

.matches-table img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    right: 9px;
}

.matches-main h1{
    color: white;
    text-align: center;
    padding: 30px 0;
}

.matches-table{
    color: white;
    margin: 0 auto;
    max-width: fit-content;
}

.matches-table table{
    border-collapse: collapse;
    width: 90vw;
}

.matches-table th{
    text-align: initial;
}

.matches-table tr:nth-child(4n+2), .matches-table tr:nth-child(4n+3){
    background-color: #364250;
}

.matches-table tr:nth-child(4n), .matches-table tr:nth-child(4n+1){
    background-color: #28313b;
}

.matches-table th, .matches-table td{
    padding: 20px 50px;
    max-width: 600px;
    word-wrap: break-word;
    font-family: Exo_2_Medium;
}

/* ----------------------------------------------STATS PAGE---------------------------------------------- */

.stats-tables td{
    padding: 10px 20px;
    word-wrap: break-word;
    font-family: Exo_2_Medium;
    width: fit-content;
}

.stats-tables{
    display: flex;
}

.stats-tables h1{
    color: white;
    text-align: center;
    padding: 25px 0;   
}

.player-image, .team-image-stats, .country-image{
    position: relative;
}

.player-image, .team-image-stats{
    width: 35px;
    height: 35px; 
}

.country-image{
    width: 20px;
}

.top-players-table, .top-teams-table{
    color: white;
    margin: 0 auto;
    max-width: fit-content;
}

.top-players-table table, .top-teams-table table{
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 45vw;
}

.top-players-table tr, .top-teams-table tr{
    background-color: #28313b;
}

.top-players-table td:nth-child(-n+3), .top-teams-table td:nth-child(-n+2){
    width: 20px;
    padding-left: 10px;
}

.top-players-table td:nth-child(3), .top-teams-table td:nth-child(2){
    width: 50%;
}

/* ---------------------------------------------- ABOUT PAGE ---------------------------------------------- */

.about-div {
    width: 70vw;
    margin: 0 auto;
    top: 20px;
    padding: 50px;
    background-color: #364250;
    color: white;
    z-index: 2;
    height: fit-content;
}

.about-div h1, .about-div h2, .about-div p {
    margin-bottom: 10px;
}

.about-div ul {
    margin-left: 20px;
}

/* ----------------------------------------------UNDER CONSTRUCTION---------------------------------------------- */

.under_construction h1, .under_construction h2{
    color: white;
    text-align: center;
    padding: 30px 0;
}

.under_construction h1{
    padding-top: 15vh;
}

.under_construction img{
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    height: 50vh;
}